@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;700&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

section {
    background-color: #d9e8f0;
}

#landing {
    height: 12vh;
}


/* NAVIGATION BAR */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#personal-logo {
    height: 50px;
    width: 100px;
}

.nav__link--list {
    display: flex;
}

.nav__link {
    margin: 0 12px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.nav__link:hover, .nav__link-anchor:hover {
    transform: scale(1.1);
    color: #1e044d;
}

.nav__link-anchor {
    text-decoration: none;
    color: #0094fe;
    font-size: 18px;
    font-weight: 700;
    transition: color 0.3s ease;
}

/* HEADER */

.header {
    text-align: center;
    background-color: #d9e8f0;
    width: 100%;
    overflow: hidden;
}

.title {
    font-size: 72px;
    line-height: 1.2;
}

.title__center {
    font-size: 124px;
}

.title, .title__center {
    z-index: 1;
}

.blur__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blurred, .mirrored {
    margin-top: -80px;
    height: 450px;
    width: 100%;
    filter: blur(3px);
    opacity: 0.9;
    mask-image: linear-gradient(to bottom, transparent, black 50%, transparent 100%);
    
}

.mirrored {
    margin-top: -300px;
}

/* TREATS */

#treats {
    padding: 0 20px;
}

.treat__title {
    font-size: 48px;
    text-align: center;
    margin-top: -40px;
}

.list__treats 


